<p>Data is sourced from the U.S. Department of Education.   
    This data was last updated September 14, 2022.</p>

<p>The letter grade is a proprietary calculation based on the cost and future value 
    of your degree compared to what it would be if you did not pursue the degree. 
    It is meant to provide a quick way to gauge the program you are considering. 
    The calculations for ROI is based on the cost of your degree and expected earnings after graduation.</p>
